[Unit]
Description=Namiska Service - Mice on keyboard

[Service]
Type=simple
ExecStart=/usr/local/bin/namiska
Restart=on-failure
Environment="DISPLAY=:0" "XAUTHORITY=%h/.Xauthority"

[Install]
WantedBy=default.target
